.login-page {
  min-height: 100vh;
  background: #f2f2f2;
}

.login-container {
    padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.input-wrapper {
  position: relative;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background: #357abd;
}

.signup-text {
  font-size: 13px;
  margin-top: 12px;
}

.signup-text a {
  color: #4a90e2;
  text-decoration: none;
}